<html>
<head>
</head>
<body>

<dl>
  <dt>request.user</dt><dd><pre>{{ request.user|pprint }}</pre></dd>
  <dt>request.facebook.uid</dt><dd><pre>{{ request.facebook.uid }}</pre></dd>
  <dt>request.POST</dt><dd><pre>{{ request.POST|pprint }}</pre></dd>
  <dt>request.COOKIES</dt><dd><pre>{{ request.COOKIES|pprint }}</pre></dd>
  <dt>window.cookies</dt><dd><pre id="js-cookies"></pre></dd>
  <dt>FB.getLoginStatus</dt><dd><pre id="login-status">No fb user found</pre></dd>
</dl>

<div class="fb-login-button" data-autologoutlink="true"></div>

{% load facebook %}
{% facebook_init %}
  var update = document.getElementById('login-status'),
      js_cookies = document.getElementById('js-cookies');

  function getLoginStatus() {
    FB.getLoginStatus(function(response) {
      if (response) {
        if (response.status === 'connected') {
          update.innerHTML = 'response: ' + JSON.stringify(response);
        } else if (response.status === 'not_authorized') {
          update.innerHTML = 'App is not authorized';
        } else {
          update.innerHTML = 'No fb user found';
        }
      } else {
        update.innerHTML = 'reponse is: ' + response;
      }
    });
  }
  function loggedIn(response) {
    getLoginStatus();
    showCookies();
  }
  function loggedOut(response) {
    getLoginStatus();
    showCookies();
  }
  function showCookies() {
    js_cookies.innerHTML = document.cookie.split('; ').join('<br>');
  }

  getLoginStatus();
  showCookies();
  FB.Event.subscribe('auth.login', loggedIn);
  FB.Event.subscribe('auth.logout', loggedOut);

{% endfacebook %}
{% facebook_load %}

</body>
</html>
